# Default ignored files
/../../Assignment #1 /.idea/shelf/
/../../Assignment #1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Assignment #1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Assignment #1 /.idea/dataSources/
/../../Assignment #1 /.idea/dataSources.local.xml
